{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "layoutbundle.html.twig" %}

{% block title %}
  Créer un compte - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Créer un compte</h2>

  {{ include("Account/form.html.twig") }}

  <p>
    <a href="{{ path('oc_platform_home')}}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour aux produits
    </a>
  </p>

{% endblock %}